<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stars.sea.work.dao.TgCategoryMapper">
    <resultMap id="tgCategoryMap" type="OpenKTgCategory">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="syllabusId" column="syllabus_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

    <sql id="column">
        id,
        `name`,
        `type`,
        syllabus_id,
        parent_id,
        tenant_code,
        object_version_number,
        created_by,
        creation_date,
        last_updated_by,
        last_update_date,
        deleted
    </sql>
    <select id="selectCategoryById" resultMap="tgCategoryMap" parameterType="Long">
        select
        <include refid="column"/>
        from
        tg_category
        <where>

         `id` = #{id}

        </where>
    </select>


</mapper>
